<div id="<%= dom_id entity %>">
<%= link_to "<i class='uil uil-arrow-left'></i>".html_safe, groups_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <table class=" w-full table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Amount</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">
        <%= link_to entity_path(entity) do %>
          <%= entity.name %>
        <% end %>
        </td>
        <td class="border px-4 py-2"><%= entity.updated_at %></td>
        <td class="border px-4 py-2">$<%= entity.amount %></td>
        <td class="border px-4 py-2 text-center flex justify-center">
          <%= link_to "<i class='uil uil-eye'></i>".html_safe, entity_path(entity), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <%= button_to "<i class='uil uil-trash-alt'></i>".html_safe, entity_path(entity), method: :delete, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </td>
      </tr>
    </tbody>
</div>
