<table class=" w-full table-auto">
  <tbody>
    <tr>
      <td class="border px-4 py-2"> <img src="<%=  group.icon %>" alt="<%=  group.name %>" class="w-12 h-15"></td>
      <td class="border px-4 py-2">
       <%= link_to group_entities_path(group), class: "card mb-2" do %>
          <%=  group.name %>
        <% end %>
      </td>
      <td class="border px-4 py-2">$<%= group.entities.sum(&:amount) %></td>
      <td class="border px-4 py-2 text-center flex justify-center">
        <%= link_to "<i class='uil uil-eye'></i>".html_safe,  group_path( group), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= button_to "<i class='uil uil-pen'></i>".html_safe, edit_group_path( group), method: :get, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        <%= button_to "<i class='uil uil-trash-alt'></i>".html_safe,  group_path( group), method: :delete, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </td>
    </tr>
    </tbody>
</table>

